#header {
    background-color: #7b847f;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 20PX;
    display: flex;

}

body {
    font-family: Didot, "Didot LT STD";


}
#logo {
    
    border-radius: 20px;
    width: 400px;
    height: 100px;
    display: flex;
    margin: 10px;
    
    

    
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 40px;
    font-size: 20px;;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: 50px;
    
   
}

nav a:hover {
    color:  #66655e;
}
h1 {
    margin-bottom: 5px;
}
#formularios {

    margin-top: 40px;
    margin-bottom: 55px;
    font-size: 28px;
    border-radius: 20px;
    background-color:  #7b847f;
    padding: 15px;
    padding-top: 0px;
    width: 900px;
    height: 30px;
    box-shadow: rgb(150,150,150) 5px 5px inset;
    text-align: center;
    
}

#buscarPropiedad {
    background-color: #90a4a1;
    border-radius: 20px;
    width: 110px;
    font-size: 15px;
    margin-top: 30px;

    
}
#propiedades {
    margin-top: 100px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 60px;
}


#belgrano {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}


#belgrano img, #palermo img {
    margin-bottom: 55px;
    width: 250px;
    height: 250px;
    margin: 5px;
    border-radius: 10px;
}

#precioBelgrano, #direccionBelgrano, #precioPalermo, #direccionPalermo {
    text-align: left;
    margin-left :10px;
}

body {
    background-color: #95c0c0;
    color: #333333;
    text-align: justify
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px;
    word-spacing: 2px;
    line-height: 1.5;
   
   
}

hr{
    border: none;
    border-top: 1px solid #66655e;
    margin: 20px 0;
}

#contacto{
    background-color: rgba(144, 164, 161, 0.8);    
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 10PX;
    font-size: 15px;
}

#footer{
    background-color: rgba(225, 228, 228, 0.8);    
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 13px;
}

