

.TituloNunez p, .TituloBelgrano p, .TitutloPalermo p, .TituloRecoleta p {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;

}



.ContenedorNunez, .ContenedorBelgrano, .ContenedorPalermo, .ContenedorRecoleta{
    background-color: rgba(225, 228, 228, 0.8);
    display: flex;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 20px;
    overflow: auto;
    margin: 5px;
    margin-bottom: 30px;
}
    

.ImagenNunez img, .ImagenBelgrano img, .ImagenPalermo img, .ImagenRecoleta img{
    width: 450px;
    height: 300px;
    border-radius: 20px;
    padding-right: 40px;
 
}

.TextoNunez, .TextoBelgrano, .TextoPalermo, .TextoRecoleta {
    overflow: hidden;
}



.TextoRecoleta h5, .TextoBelgrano h5, .TextoNunez h5, .TextoPalermo h5 {
    font-size: 0.9em;
    margin: 5px 0;
}

.TextoRecoleta p, .TextoBelgrano p, .TextoNunez p, .TextoPalermo p {
    margin: 5px 0;
}


.TextoNunez ul, .TextoBelgrano ul, .TextoPalermo ul, .TextoRecoleta ul{
    list-style-type: disc; /* O el tipo de viñeta que prefieras */
    padding-left: 20px; /* Ajusta el valor según sea necesario */
    
}

.TextoNunez li, .TextoBelgrano li, .TextoPalermo li, .TextoRecoleta li{
    display: list-item;
}

.botonInicio :hover {
    color:  #66655e;
}


body {
    background-color: #95c0c0;
    color: #333333;
    text-align: justify;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px;
    word-spacing: 2px;
    line-height: 1.5;
    font-family: Didot, "Didot LT STD";
    padding-left: 20px;
}

#contacto, #mensaje{
    background-color: rgba(144, 164, 161, 0.8);    
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 10PX;
    font-size: 15px;
}

#enviarMensaje {
    background-color: #90a4a1;
    border-radius: 20px;
    font-size: 15px;
}


#facebook, #twitter {
    display: flex;
    margin:7px;
    width: 20px;
    height: 20px;
    
}

#footer, #datosContacto{
    background-color: rgba(225, 228, 228, 0.8);    
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 13px;
}




#navegacion {
    background-color: #7b847f;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 20PX;
    display: flex;
}

#logo {
    border-radius: 20px;
    width: 400px;
    height: 100px;
    display: flex;
    margin: 10px;    
}

#navegacion nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 25px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: 50px;
    
}

