

.TituloNunez p, .TituloBelgrano p, .TitutloPalermo p {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.ContenedorNunez, .ContenedorBelgrano, .ContenedorPalermo{
    border: 2px solid black; 
    background-color: rgba(225, 228, 228, 0.8);
    display: flex;
    width: 1000px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 150px;
    
}
.ImagenNunez img, .ImagenBelgrano img, .ImagenPalermo img{
    width: 450px;
    height: 300px;
    border-radius: 20px;
    padding-right: 40px;
 
}

.TextoNunez, .TextoBelgrano, .TextoPalermo {
    text-align: center;
    padding: 0px;
    padding-left: 10px;
}

.TextoNunez ul, .TextoBelgrano ul, .TextoPalermo ul{
    display: flex ;
    
}

.TextoNunez li, .TextoBelgrano li, .TextoPalermo li{
    display: flex ;
}



body {
    background-color: #95c0c0;
    color: #333333;
    text-align: justify;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px;
    word-spacing: 2px;
    line-height: 1.5;
    font-family: Didot, "Didot LT STD";
    padding-left: 20px;
}

#contacto, #mensaje{
    background-color: rgba(144, 164, 161, 0.8);    
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 10PX;
    font-size: 15px;
}

#enviarMensaje {
    background-color: #90a4a1;
    border-radius: 20px;
    font-size: 15px;
}


#facebook, #twitter {
    display: flex;
    margin:7px;
    width: 20px;
    height: 20px;
    
}

#footer, #datosContacto{
    background-color: rgba(225, 228, 228, 0.8);    
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 13px;
}




#navegacion {
    background-color: #7b847f;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 20PX;
    display: flex;
}

#logo {
    border-radius: 20px;
    width: 400px;
    height: 100px;
    display: flex;
    margin: 10px;    
}

#navegacion nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 25px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: 50px;
    
}
